body {
  margin: 0px;
  font-family: "IBM Plex Sans", sans-serif;
  color: #fff;
  background-color: #2e3139;
}

#root {
  min-height: 100vh;
}

#login {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 0px 8px;
  height: 100vh;

  .login-button {
    margin-top: 3em;
  }

  .title-image {
    width: 100vw;
  }

  .title-emoji {
    margin-bottom: 30px;
  }

  .text-wrapper {
    /* identical to box height */
    font-weight: bold;
    text-align: center;

    color: #ffffff;
    margin-bottom: 72px;
  }
}

#menu {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  overflow-y: scroll;
  .image {
    margin-top: 8px;
  }

  .welcome {
    margin: 1em;
  }
}

#input-fields {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 2em;

  .field {
    margin-top: 7px;
    margin-bottom: 7px;
  }

  .field-title {
    font-weight: 600;
    font-size: 14px;
    color: #fff;
    padding: 5px;
    margin-bottom: 5px;
  }

  .submit-buttons {
    margin-top: 3em;
  }
}
