@import "~antd/dist/antd.less";

#root {
  min-height: 100vh;
}

.welcome {
  margin-top: 5em;
}

.landing {
  padding: 16px;
}

#athletehome {
  padding: 0px 8px;

  #logo {
    width: 150px;
  }

  .ant-layout-header {
    padding: 0px;
  }

  .ant-layout-footer {
    padding: 8px;
  }
}

.loader {
  height: 100vh;
  width: 100vw;
  text-align: center;
  padding-top: 300px;
}

#coachhome {
  padding: 0px 8px;

  #logo {
    width: 150px;
  }

  .ant-layout-header {
    padding: 0px;
  }

  .ant-layout-footer {
    padding: 8px;
  }
}

#adminhome {
  padding: 0px 8px;

  #logo {
    width: 150px;
  }

  .ant-layout-header {
    padding: 0px;
  }

  .ant-layout-footer {
    padding: 8px;
  }
}

#signup {
  margin: 0px 8px;
  min-height: 100vh;

  .content {
    height: 90vh;
  }

  .heroimage {
    width: auto;
    max-width: 600px;
  }

  .heroimagesmall {
    width: auto;
    max-width: 600px;
  }

  .herocontainer {
    padding-top: 5vh;
  }

  .herocontainersmall {
    padding-top: 3vh;
  }

  .ant-layout-header {
    padding: 0px;
  }

  .ant-layout-footer {
    padding: 8px;
  }
}
