.button-wrapper {
  width: 335px;
  height: 120px;
  margin-top: 10px;
  margin-bottom: 10px;
  color: #fff;

  &:hover {
    cursor: pointer;
  }

  .button-inner {
    display: flex;
    justify-content: center;
    height: 100%;
    border: 2px solid #fff;
    border-radius: 4px;
    box-sizing: border-box;
    background-position: center;
    background-color: #2e3139;
    transition: background 0.5s;

    &:hover {
      cursor: pointer;
      background: #3d414b radial-gradient(circle, transparent 1%, #3d414b 1%)
        center/15000%;
    }

    &:active {
      background-color: #2e3139;
      background-size: 100%;
      transition: background 0s;
    }

    .emoji-aside {
      display: flex;
      justify-content: center;
      align-items: center;
      background: #6f6f6f;
      width: 99px;
      border-radius: 2px 0px 0px 2px;

      .emoji-wrapper {
        .emoji {
          margin: auto;
          width: 45px;
          height: 45px;
        }
      }
    }

    .button-text {
      display: flex;
      align-items: center;

      font-weight: bold;
      font-size: 36px;
      -webkit-user-select: none; /* Safari */
      -moz-user-select: none; /* Firefox */
      -ms-user-select: none; /* IE10+/Edge */
      user-select: none;
    }
  }
}
