.input-wrapper {
  width: 278px;
  height: 52px;
  display: flex;
  border: 2px solid #fff;
  border-radius: 4px;
  box-sizing: border-box;

  input {
    border: none;
    color: #fff;
    width: 226px;
    border-radius: 0px;
    background: none;
    padding: 0px;
    text-indent: 10px;
  }

  ::-webkit-calendar-picker-indicator {
    filter: invert(100%);
  }

  .emoji-wrapper {
    border-right: 2px solid #fff;
    box-sizing: border-box;
    border-radius: 2px;
    background-color: #fff;
  }

  .emoji {
    width: 30px;
    padding: 10px;
  }

  .input-text {
    font-weight: 600;
    font-size: 23px;
    color: #fff;
  }
}
.red-border {
  border: 1px solid #e33030;
  border-width: thick;
}
