.small-button-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 170px;
    height: 52px;
    border: 1px solid #321160;
    box-sizing: border-box;
    border-radius: 5px;
    margin: 5px;

    .emoji {
        margin: auto;
        height: 30px;
    }

    .button-text {
        margin-left: 10px;
        font-weight: 600;
        font-size: 18px;
        line-height: 24px;

        color: #333333;
    }
}

.purple {
    background-color: #321160;
}